page-posts{

  ion-card {
    position: relative;
  }

  ion-list {
      width: 100vw;
      text-align: center;
  }

  .post_header {
    position: absolute;
    top: 0%;
    font-size: 1.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
    padding: 0.4em;
    font-family: 'Muli', sans-serif;
    }

  .post_footer {
    text-align: right;
    position: absolute;
    bottom: 0;
    font-size: 1.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
    padding: 0.4em;
    font-family: 'Muli', sans-serif;
    }

  .post_footer_elements {
    display: inline-block;
    z-index: 3;
    margin: 0;
    height: 3vh;
    width: 5vw;
    }

  .vertically-aligned-elements {
    z-index: 3;
    display:inline-block;
    vertical-align:middle;
    margin-right: 0.5vw;
    font-family: 'Marvel', sans-serif;
  }

  .card-md{
    margin-right: 0 !important;
    margin-left:0 !important;
    margin-top:0 !important;
    width: auto !important;
    margin-bottom: 2px;
  }

  .card-ios{
    margin-right: 0 !important;
    margin-left:0 !important;
    margin-top:0 !important;
    width: auto !important;
    margin-bottom: 2px;
  }

}