<ion-header>

</ion-header>


<ion-content>
  <div style="position: relative">
    <img id = "this" src="../../assets/img/left-arrow.png" style="height:5vh; position: absolute; margin-top: 2vh; margin-left: 2vh" (click) = "pop()">
    <img class={post-detail-image} src={{item.url}} (click)="onCommentClick(NULL, 'topLevelCommentBox')">
    <!--<div class="item-profile" text-center #profilePic [style.background-image]="'url(' + item.profilePic + ')'"></div>-->
    <div class="post_footer" style="background-color: transparent; padding-bottom: 2vh">
      <img class = "vertically-aligned-elements post_footer_elements" src = "../../assets/img/chat-bubble.png"><span style = "margin-right: 5vw" class = "vertically-aligned-elements">{{item.comments}}</span>
      <img class = "vertically-aligned-elements post_footer_elements" src = "../../assets/img/up-arrow.png"><span style = "margin-right: 5vw" class = "vertically-aligned-elements">{{item.upvotes}}</span>
      <img class = "vertically-aligned-elements post_footer_elements" src = "../../assets/img/down-arrow.png"><span style = "margin-right: 5vw" class = "vertically-aligned-elements">{{item.downvotes}}</span>
    </div>
  </div>
  <ion-card *ngIf="topLevelCommentBox">  
    <textarea id="topLevelCommentBox" rows="3" style="width:100%; padding: 1vw"></textarea>
  </ion-card>
  <div>
    <ul>
      <li class = "card card-md" *ngFor="let comment1 of item.commentChain; index as index1" style="position: relative">
        <div style="box-sizing: border-box">
        <div style="border-radius:50%; overflow: hidden; display: inline-block; height:10vw; width: 10vw; position: absolute; top: 1vw" item-start>
          <img src="../../assets/img/marty-avatar.png">
        </div>
        <div style="min-height: 11vw; padding-left: 11vw; display: inline-block" (click)="onCommentClick(comment1.commentId, index1.toString(), index1)">
          <div>Anon</div>
          {{comment1.body}}
        </div>
          <textarea id={{index1.toString()}} *ngIf="comment1.box" rows="3" style="width:100%; padding: 1vw"></textarea>
        </div>
        <ul *ngIf="comment1.hasChild">
          <li class = "card card-md" *ngFor="let comment2 of comment1.children; index as index2" style="position: relative">
            <div style="box-sizing: border-box">
            <div style="border-radius:50%; overflow: hidden; display: inline-block; height:10vw; width: 10vw; position: absolute; top: 1vw" item-start>
              <img src="../../assets/img/batman.png">
            </div>
            <div style="min-height: 11vw; padding-left: 11vw" (click)="onCommentClick(comment1.children[index2].commentId, index1.toString() + index2.toString(), index1, index2)">
              <div>Anon</div>
              {{comment2.body}}
            </div>
              <textarea  id={{index1.toString()+index2.toString()}} *ngIf="comment2.box" rows="3" style="width:100%; padding: 1vw"></textarea>
            </div>
            <ul *ngIf="comment2.hasChild">
              <li class = "card card-md" *ngFor="let comment3 of comment2.children; index as index3" style="position: relative">
                <div style="box-sizing: border-box">
                <div style="border-radius:50%; overflow: hidden; display: inline-block; height:10vw; width: 10vw; position: absolute; top: 1vw" item-start>
                  <img src="../../assets/img/marty-avatar.png">
                </div>
                <div style="min-height: 11vw; padding-left: 11vw" (click)="onCommentClick(comment1.children[index2].commentId, index1.toString() + index2.toString() + index3.toString(), index1, index2, index3)">
                  <div>Anon</div>
                  {{comment3.body}}
                </div>
                  <textarea  id={{index1.toString()+index2.toString()+index3.toString()}} *ngIf="comment3.box" rows="3" style="width:100%; padding: 1vw"></textarea>
                </div>
              </li> 
            </ul>
          </li>
        </ul> 
      </li>
    </ul>
    <hr>
  </div>
</ion-content>
