// http://ionicframework.com/docs/v2/theming/

.main-menu .item-inner{

    border-bottom-width: 0px !important;

}

/*.expanding-list{
    max-height: 100vh;
    opacity: 1;
}

.expanding-list-parent:focus + div {
    animation: expandingList 1.5s 0s 1 linear alternate;
}

@keyframes expandingList{
    0%{
        opacity: 0;
        max-height: 0vh;
    }
    100%{
        opacity: 1;
        max-height: 100vh;
    }
}*/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
