<ion-header>

</ion-header>
 
<div class="top-background-accountpage"></div>
<div class="middle-display-area">
  <span style="margin:auto; color:#488aff; vertical-align: middle">Imran Sharif Rizvi</span>
</div>
<div style="width:100%">
<div class="user-image">
  <img src="{{this.profileImagePath}}" style="margin:auto; height:100%">
</div>
</div>
<ion-toolbar transparent>
  <ion-segment color="primary" [(ngModel)]="accountSegment">
    <ion-segment-button value="posts">
      POSTS
    </ion-segment-button>
    <ion-segment-button value="comments">
      COMMENTS
    </ion-segment-button>
    <ion-segment-button value="about">
      ABOUT
    </ion-segment-button>
  </ion-segment>
</ion-toolbar>

<ion-content style="position:relative"> 

<div [ngSwitch]="accountSegment">
  <ion-list *ngSwitchCase="'posts'">
    <ion-item *ngFor = "let post of userPosts" (click)="openItem(post)">
      <ion-thumbnail item-start style>
            <img src = "{{post.url || 'assets/img/text.png'}}">
          </ion-thumbnail>
          <h2>{{post.title}}</h2>
          <h3>{{AppVariables.accountInfo.name}}</h3>
    </ion-item> 
  </ion-list>


  <ion-list *ngSwitchCase="'comments'">
    <ion-item *ngFor = "let comment of userComments">
      <ion-avatar item-start>
            <img src = "{{appVariables.returnProfileImagePath()}}" style="background-color: #488aff">
          </ion-avatar>
          <h2>{{comment.body}}</h2>
          <h3>{{this.formatDate(comment.submitted)}}</h3>
    </ion-item> 
  </ion-list>

  <div *ngSwitchCase="'about'" style="height: calc(100vh - 15vh - 17rem); position: relative">
    <div style="display:inline-block; width:49vw; margin: 1vw 0 0 0; padding: 2vw">something</div>
    <div style="display:inline-block; width: 49vw; border-left: medium solid #488aff; margin: 1vw 0 0 0; padding: 2vw">something more</div>
  </div>
</div>

<!--  <form [formGroup]="form" *ngIf="settingsReady">
    <ion-list *ngIf="page == 'main'">
      <ion-item>
        <ion-label>{{ 'visible' | translate }}</ion-label>
        <ion-toggle formControlName="option1"></ion-toggle>
      </ion-item>

      <ion-item>
        <ion-label>{{ 'display name:' | translate }}</ion-label>
        <ion-input formControlName="option2"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>{{ 'SETTINGS_OPTION3' | translate }}</ion-label>
        <ion-select formControlName="option3">
          <ion-option value="1" checked="true">1</ion-option>
          <ion-option value="2">2</ion-option>
          <ion-option value="3">3</ion-option>
        </ion-select>
      </ion-item>-->
<!--
      <button ion-item [navPush]="subSettings" [navParams]="profileSettings">
        {{ 'SETTINGS_PROFILE_BUTTON' | translate }}
      </button>
    </ion-list>

    <ion-list *ngIf="page == 'profile'">
      <ion-item>
        <ion-label>{{ 'SETTINGS_OPTION4' | translate }}</ion-label>
        <ion-input formControlName="option4"></ion-input>
      </ion-item>
    </ion-list>
  </form>-->

</ion-content>
